black==19.3b0
flake8==3.7.7
ipython==7.4.0
isort==4.3.17
jedi==0.13.3
jupyter-core==4.4.0
jupytext==1.0.5
matplotlib==3.0.3
mccabe==0.6.1
mypy==0.701
mypy-extensions==0.4.1
nbformat==4.4.0
numpy==1.16.2
pandas==0.24.2
pycodestyle==2.5.0
pyflakes==2.1.1
pytest==4.4.1
pytest-instafail==0.4.1
pytest-mypy==0.3.2
Sphinx==2.0.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
testfixtures==6.7.0
virtualenv==16.5.0
